<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @match.giver.name %> !</h1>
    <p>
      You have been selected to participate to a Secret Santa event,
      You are <%= @match.receiver.name %>'s secret santa !.
    <br>
    </p>
    <p>
      Get a gift for him !
    </p>
  </body>
</html>