<div class="container">
    <div class="content-card">
        <%= image_tag "rudolph.png", alt: "Rudolph", class: "rudolph-avatar", width: "127px" %>
        <h1>Hey it's Rudolph</h1>
        <p>Tell me the participants of your Secret Santa event and I'll do the rest</p>
        <br>
        <%= link_to "Create a new event", new_event_path, class: "button" %>
    </div>
</div>