<div class="container">
  <div class="content-card">
    <%= image_tag "rudolph.png", alt: "Rudolph", class: "rudolph-avatar", width: "127px" %>
    <h3> Congrats your event has been created and the participants notified !</h1>
  </div>
</div>
